<aside id="nav_menu-2" class="widget widget_nav_menu">
  <div class="menu-primary-navigation-container">
    <ul id="menu-primary-navigation" class="menu">
      <li id="menu-item-1924" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-1924">
        <a href="http://hcgovswat.edmullen.com/intro-part2/">
          Introducing Project Sonya
        </a>
        <ul class="sub-menu">
          <li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-21 current_page_item menu-item-37">
            <a href="http://hcgovswat.edmullen.com/introduction/guiding-principles/">
              3 Big Ideas
            </a>
          </li>
          <li id="menu-item-1837" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1837">
            <a href="http://hcgovswat.edmullen.com/7-guiding-principles/">
              7 Guiding Principles
            </a>
          </li>
          <li id="menu-item-2248" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2248">
            <a href="http://hcgovswat.edmullen.com/introducting-project-sonya/inside-this-website/">
              Inside this website
            </a>
          </li>
        </ul>
      </li>
      <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
        <a href="http://hcgovswat.edmullen.com/audience/">
          Audience
        </a>
        <ul class="sub-menu">
          <li id="menu-item-971" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-971">
            <a href="http://hcgovswat.edmullen.com/audience/target-audience/">
              Target Audience
            </a>
          </li>
          <li id="menu-item-489" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-489">
            <a href="http://hcgovswat.edmullen.com/audience/audience-segmentation/">
              Audience Segmentation
            </a>
          </li>
        </ul>
      </li>
      <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35">
        <a href="http://hcgovswat.edmullen.com/content-strategy/">
          Content Strategy
        </a>
        <ul class="sub-menu">
          <li id="menu-item-301" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-301">
            <a href="http://hcgovswat.edmullen.com/content-strategy/general-approach/">
              Content Principles
            </a>
          </li>
          <li id="menu-item-318" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318">
            <a href="http://hcgovswat.edmullen.com/content-strategy/content-home-page/">
              Home Page
            </a>
          </li>
          <li id="menu-item-320" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320">
            <a href="http://hcgovswat.edmullen.com/content-strategy/topics/">
              All Topics
            </a>
          </li>
          <li id="menu-item-319" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319">
            <a href="http://hcgovswat.edmullen.com/content-strategy/content-individuals-sm-business/">
              Individuals &amp; Families/Small Businesses
            </a>
          </li>
          <li id="menu-item-321" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-321">
            <a href="http://hcgovswat.edmullen.com/content-strategy/marketplace-content/">
              Marketplace Content
            </a>
          </li>
          <li id="menu-item-322" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-322">
            <a href="http://hcgovswat.edmullen.com/content-strategy/content-marketplace/">
              Marketplace Landing Page
            </a>
          </li>
          <li id="menu-item-482" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-482">
            <a href="http://hcgovswat.edmullen.com/content-strategy/spanish-content-strategy/">
              Spanish Content
            </a>
          </li>
          <li id="menu-item-324" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-324">
            <a href="http://hcgovswat.edmullen.com/content-strategy/content-video/">
              Video
            </a>
          </li>
          <li id="menu-item-325" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-325">
            <a href="http://hcgovswat.edmullen.com/content-strategy/infographics/">
              Infographics
            </a>
          </li>
        </ul>
      </li>
      <li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60">
        <a href="http://hcgovswat.edmullen.com/engagement-recommendations/">
          Engagement Strategy
        </a>
        <ul class="sub-menu">
          <li id="menu-item-2152" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2152">
            <a href="http://hcgovswat.edmullen.com/engagement-recommendations/engagement-principles/">
              Engagement Principles
            </a>
          </li>
          <li id="menu-item-634" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-634">
            <a href="http://hcgovswat.edmullen.com/engagement-recommendations/connect-get-involved/">
              Connect &amp; Get Involved
            </a>
          </li>
          <li id="menu-item-633" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-633">
            <a href="http://hcgovswat.edmullen.com/engagement-recommendations/email-text-message-outreach/">
              Email and Text Message Outreach
            </a>
          </li>
          <li id="menu-item-632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-632">
            <a href="http://hcgovswat.edmullen.com/engagement-recommendations/game-changing-social-media/">
              Game Changing Social Media
            </a>
          </li>
          <li id="menu-item-631" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-631">
            <a href="http://hcgovswat.edmullen.com/engagement-recommendations/healthcare-blog/">
              A Larger Role for the HealthCare Blog
            </a>
          </li>
          <li id="menu-item-630" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-630">
            <a href="http://hcgovswat.edmullen.com/engagement-recommendations/make-everything-sharable/">
              Make Everything Sharable
            </a>
          </li>
          <li id="menu-item-629" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-629">
            <a href="http://hcgovswat.edmullen.com/engagement-recommendations/use-incentives-get-results/">
              Use Incentives to Get Results
            </a>
          </li>
          <li id="menu-item-628" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-628">
            <a href="http://hcgovswat.edmullen.com/engagement-recommendations/support-communities-partners/">
              Support for Communities &amp; Partners
            </a>
          </li>
        </ul>
      </li>
      <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34">
        <a href="http://hcgovswat.edmullen.com/visual-design/">
          Visual Design
        </a>
        <ul class="sub-menu">
          <li id="menu-item-1948" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1948">
            <a href="http://hcgovswat.edmullen.com/visual-design-principles/">
              Visual Design Principles
            </a>
          </li>
          <li id="menu-item-338" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-338">
            <a href="http://hcgovswat.edmullen.com/visual-design/color-palette/">
              Color Palette
            </a>
          </li>
          <li id="menu-item-337" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-337">
            <a href="http://hcgovswat.edmullen.com/visual-design/typography/">
              Typography
            </a>
          </li>
          <li id="menu-item-336" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-336">
            <a href="http://hcgovswat.edmullen.com/visual-design/layout/">
              Layout
            </a>
          </li>
          <li id="menu-item-335" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-335">
            <a href="http://hcgovswat.edmullen.com/visual-design/photography/">
              Photography
            </a>
          </li>
          <li id="menu-item-334" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-334">
            <a href="http://hcgovswat.edmullen.com/visual-design/iconography/">
              Iconography
            </a>
          </li>
          <li id="menu-item-333" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-333">
            <a href="http://hcgovswat.edmullen.com/visual-design/illustration/">
              Illustration
            </a>
          </li>
          <li id="menu-item-332" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-332">
            <a href="http://hcgovswat.edmullen.com/visual-design/next-steps/">
              Next Steps on Visual Design
            </a>
          </li>
        </ul>
      </li>
      <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
        <a href="http://hcgovswat.edmullen.com/experience-information-architecture/">
          Experience &amp; Information Architecture
        </a>
        <ul class="sub-menu">
          <li id="menu-item-748" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-748">
            <a href="http://hcgovswat.edmullen.com/experience-information-architecture/global-organizational-approach-principles/">
              Organizing Principles
            </a>
          </li>
          <li id="menu-item-796" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-796">
            <a href="http://hcgovswat.edmullen.com/experience-information-architecture/broad-architectural-themes/">
              Global Architectural Themes
            </a>
          </li>
          <li id="menu-item-795" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-795">
            <a href="http://hcgovswat.edmullen.com/experience-information-architecture/high-level-sitemap/">
              High Level Sitemap
            </a>
          </li>
          <li id="menu-item-880" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-880">
            <a href="http://hcgovswat.edmullen.com/experience-information-architecture/healthcare-gov-user-accounts/">
              Healthcare.gov User Accounts
            </a>
          </li>
          <li id="menu-item-794" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-794">
            <a href="http://hcgovswat.edmullen.com/experience-information-architecture/routing-to-sbe-states/">
              Routing to SBE States
            </a>
          </li>
          <li id="menu-item-793" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-793">
            <a href="http://hcgovswat.edmullen.com/experience-information-architecture/learn-side/">
              Learn Experience
            </a>
          </li>
          <li id="menu-item-2058" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2058">
            <a href="http://hcgovswat.edmullen.com/experience-information-architecture/favor-most-needed-content/">
              Favor Most Needed Content
            </a>
          </li>
          <li id="menu-item-2061" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2061">
            <a href="http://hcgovswat.edmullen.com/experience-information-architecture/flat-architecture/">
              Flat Architecture
            </a>
          </li>
          <li id="menu-item-2054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054">
            <a href="http://hcgovswat.edmullen.com/experience-information-architecture/structure-our-content/">
              Structure Our Content
            </a>
          </li>
          <li id="menu-item-789" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-789">
            <a href="http://hcgovswat.edmullen.com/experience-information-architecture/the-fate-of-the-options-finder/">
              The Fate of the Options Finder
            </a>
          </li>
          <li id="menu-item-1030" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1030">
            <a href="http://hcgovswat.edmullen.com/experience-information-architecture/marketplace-intro/">
              Marketplace Experience
            </a>
          </li>
          <li id="menu-item-1855" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1855">
            <a href="http://hcgovswat.edmullen.com/experience-information-architecture/general-marketplace-architecture-2/">
              General Marketplace Architecture
            </a>
          </li>
          <li id="menu-item-1861" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1861">
            <a href="http://hcgovswat.edmullen.com/experience-information-architecture/individual-pathway-2/">
              Individual Pathway
            </a>
          </li>
          <li id="menu-item-786" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-786">
            <a href="http://hcgovswat.edmullen.com/experience-information-architecture/shepherding-people-through-the-process/">
              Shepherding People Through the Process
            </a>
          </li>
          <li id="menu-item-878" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-878">
            <a href="http://hcgovswat.edmullen.com/experience-information-architecture/browsing-anonymously-with-an-account-or-post-application/">
              Browsing Anonymously, with an Account, or Post-Application
            </a>
          </li>
          <li id="menu-item-798" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-798">
            <a href="http://hcgovswat.edmullen.com/experience-information-architecture/soften-hard-landings/">
              Soften Hard Landings
            </a>
          </li>
          <li id="menu-item-788" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-788">
            <a href="http://hcgovswat.edmullen.com/experience-information-architecture/mobile-approach/">
              Mobile Approach &amp; Experience
            </a>
          </li>
        </ul>
      </li>
      <li id="menu-item-1986" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1986">
        <a href="http://hcgovswat.edmullen.com/interaction-models/">
          Interaction Models
        </a>
        <ul class="sub-menu">
          <li id="menu-item-1988" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1988">
            <a href="http://hcgovswat.edmullen.com/interaction-models/the-header/">
              The Header
            </a>
          </li>
          <li id="menu-item-1987" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1987">
            <a href="http://hcgovswat.edmullen.com/interaction-models/card-motif/">
              Card Motif
            </a>
          </li>
          <li id="menu-item-2001" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2001">
            <a href="http://hcgovswat.edmullen.com/interaction-models/the-canvas/">
              The Canvas
            </a>
          </li>
        </ul>
      </li>
      <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
        <a href="http://hcgovswat.edmullen.com/screen-patterns/">
          Screen Patterns
        </a>
        <ul class="sub-menu">
          <li id="menu-item-917" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-917">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/homepage/">
              Homepage
            </a>
          </li>
          <li id="menu-item-1062" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1062">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/audience-based-landing-page/">
              Audience-Based Landing Page
            </a>
          </li>
          <li id="menu-item-1180" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1180">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/all-topics/">
              All Topics
            </a>
          </li>
          <li id="menu-item-1183" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1183">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/collection-page/">
              Collection Page
            </a>
          </li>
          <li id="menu-item-1595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1595">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/search-results-page-2/">
              Search Results Page
            </a>
          </li>
          <li id="menu-item-1181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1181">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/basic-page/">
              Basic Page
            </a>
          </li>
          <li id="menu-item-1751" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1751">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/basic-page-left-navigation/">
              Basic Page – Left Navigation
            </a>
          </li>
          <li id="menu-item-1277" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1277">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/marketplace-gateway/">
              Marketplace Landing Page
            </a>
          </li>
          <li id="menu-item-1160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1160">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/marketplace-help/">
              Marketplace Help
            </a>
          </li>
          <li id="menu-item-1206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1206">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/sign-in/">
              Sign In
            </a>
          </li>
          <li id="menu-item-1492" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1492">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/start-application/">
              Start Application
            </a>
          </li>
          <li id="menu-item-1199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1199">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/application-in-progress/">
              Application In-Progress
            </a>
          </li>
          <li id="menu-item-1173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1173">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/application-section-cover/">
              Application Section Cover
            </a>
          </li>
          <li id="menu-item-1172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1172">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/application-card/">
              Application Card
            </a>
          </li>
          <li id="menu-item-1632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1632">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/application-card-household/">
              Application Card – Household
            </a>
          </li>
          <li id="menu-item-1170" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1170">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/application-confirmation/">
              Application Confirmation
            </a>
          </li>
          <li id="menu-item-1169" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1169">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/eligibility-results/">
              Eligibility Results
            </a>
          </li>
          <li id="menu-item-1168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1168">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/enroll-todo-list/">
              Enroll Todo List
            </a>
          </li>
          <li id="menu-item-1166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1166">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/enroll-plan-results/">
              Enroll Plan Results
            </a>
          </li>
          <li id="menu-item-1165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1165">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/enroll-plan-compare/">
              Enroll Plan Compare
            </a>
          </li>
          <li id="menu-item-1164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1164">
            <a href="http://hcgovswat.edmullen.com/screen-patterns/enroll-plan-profile/">
              Enroll Plan Profile
            </a>
          </li>
        </ul>
      </li>
      <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31">
        <a href="http://hcgovswat.edmullen.com/search-strategy/">
          Search Strategy
        </a>
        <ul class="sub-menu">
          <li id="menu-item-413" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-413">
            <a href="http://hcgovswat.edmullen.com/search-strategy/external-search/">
              External Search
            </a>
          </li>
          <li id="menu-item-412" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-412">
            <a href="http://hcgovswat.edmullen.com/search-strategy/internal-search/">
              Internal Search
            </a>
          </li>
          <li id="menu-item-414" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-414">
            <a href="http://hcgovswat.edmullen.com/search-strategy/next-steps/">
              Next Steps on Search Strategy
            </a>
          </li>
        </ul>
      </li>
      <li id="menu-item-236" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-236">
        <a href="http://hcgovswat.edmullen.com/help-strategy/">
          Help Strategy
        </a>
        <ul class="sub-menu">
          <li id="menu-item-411" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-411">
            <a href="http://hcgovswat.edmullen.com/help-strategy/marketplace-help/">
              Marketplace Help
            </a>
          </li>
          <li id="menu-item-410" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-410">
            <a href="http://hcgovswat.edmullen.com/help-strategy/learn-help/">
              Learn Help
            </a>
          </li>
          <li id="menu-item-481" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-481">
            <a href="http://hcgovswat.edmullen.com/help-strategy/next-steps/">
              Next Steps on Help Strategy
            </a>
          </li>
        </ul>
      </li>
      <li id="menu-item-66" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-66">
        <a href="http://hcgovswat.edmullen.com/development-infrastructure/">
          Development, Infrastructure &amp; Technology
        </a>
        <ul class="sub-menu">
          <li id="menu-item-437" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-437">
            <a href="http://hcgovswat.edmullen.com/development-infrastructure/development-principles/">
              Development Principles
            </a>
          </li>
          <li id="menu-item-456" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-456">
            <a href="http://hcgovswat.edmullen.com/development-infrastructure/infrastructure/">
              Infrastructure Configuration
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
<aside id="ctc-3" class="widget ctc">
  <h3 class="widget-title">
    Tags
  </h3>
  <div class="ctc">
    <ul class="ctc-tag-cloud">
      <li class="ctc-tag-li">
        <a href="http://hcgovswat.edmullen.com/tag/next-steps/" class="ctc-tag tag-link-19" title="10 topics" rel="tag" style="font-size: 10pt;">
          Next Steps
        </a>
      </li>
      <li class="ctc-tag-li">
        <a href="http://hcgovswat.edmullen.com/tag/principles-2/" class="ctc-tag tag-link-18" title="7 topics" rel="tag" style="font-size: 10pt;">
          Principles
        </a>
      </li>
    </ul>
  </div>
</aside>
<aside id="search-3" class="widget widget_search">
  <form role="search" method="get" id="searchform" action="http://hcgovswat.edmullen.com/">
	<div>
      <label class="screen-reader-text" for="s">
        Search for:
      </label>
      <input name="s" id="s" type="text">
      <input id="searchsubmit" value="Search" type="submit">
  </div>
  </form>
</aside>
<aside id="text-2" class="widget widget_text">
  
  <div class="textwidget">
    <a href="http://hcgovswat.edmullen.com/wp-login.php">
      Login
    </a>
  </div>
</aside>