---

layout: interior-page

--- 

        <article id="{{page.url}}" class="page type-page status-publish entry">

		<header class="entry-header">
		<hgroup>
			<h1 class="entry-title"><a title="{{page.title}}" href="/">{{post.title}}</a></h1>
		</hgroup>

      </header>

      <div class="entry-content">

		{{content}}	

      </div>

      <!-- .entry-content -->

      <footer class="entry-meta">

      </footer>

      <!-- .entry-meta -->

          </article>

          <!-- #post -->

          <div id="comments" class="comments-area">      

          </div>

          <!-- #comments .comments-area -->
